<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .title  }}</h2>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .block   }}
      <div class="col-sm-6 col-md-4">
        <div class="service-item">

          <img class="service_icon" src="{{ .Site.BaseURL }}{{.img}}" alt="man">
          <h4>{{ .country }}</h4>
          <p>{{ .content | markdownify}}</p>
          <h5>{{ .name }}</h4>
        </div>
        <div>


        </div>


      </div>
      {{ end }}
    </div>
  </div>
</section>
